# Thư mục hệ thống
.DS_Store
Thumbs.db

# Thư mục log, tạm
logs/
*.log
*.tmp
*.bak

# File cá nhân
*.env
*.local
*.ini

# Build artifacts
/dist/
/build/
/out/
/node_modules/
/*.exe
/*.dll
/*.so

# VSCode
.vscode/
*.code-workspace

# Python
__pycache__/
*.pyc

# Windows
desktop.ini