***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
***case_sensitive:0***
***defaultCB:1***
/hk:C:\Users\jackb\Documents\AutoHotkey\configs\hotkeys.json
/km:C:\Users\jackb\Documents\AutoHotkey\src\v2\#KeyModifier.ahk
/ntfm1:\large \mathcal { \color{tomato} \fcolorbox{tomato}{white}{~} }
/ntfm2:\large \mathcal { \fbox {~} }
@ahk2:https://www.autohotkey.com/docs/v2/
@gpt:chatgpt.com
@tt:tactics.tools/vie
@yt:youtube.com
abb:abbreviation of
ahk2:https://www.autohotkey.com/docs/v2/
anto:antonym of
cm:; -----------------------------------------------------------------------------------------------------
cw:collocation with
fcm:; ---------------------------------------------1234567890----------------------------------------------
hira:hiragana calligraphy
jap:japanese
kata:katakana calligraphy
kj:khác gì
lj:là gì
nlj:nghĩa là gì
ntn:như thế nào
pts:photoshop
syno:synonym of
t@:ThaiND.B23KH105@stu.ptit.edu.vn
thaind:ThaiND.B23KH105
tta:trong tiếng Anh
ttn:trong tiếng Nhật
ttv:trong tiếng Việt
vt:viết tắt
