***case_sensitive:0***
***defaultCheckboxState:1***
***hstrOpt:***
/hk:D:\Documents\AutoHotkey\configs\hotkeys.json
/km:D:\Documents\AutoHotkey\src\v2\#KeyModifier.ahk
/ntfm1:\large \mathcal { \color{tomato} \fcolorbox{tomato}{white}{~} }
/ntfm2:\large \mathcal { \fbox {~} }
@ahk2:https://www.autohotkey.com/docs/v2/
@gpt:chatgpt.com
@tt:tactics.tools/vie
@yt:youtube.com
\alpha:α
\beta:β
\bowtie:⋈
\cap:∩
\cup:∪
\delta:δ
\epsilon:ε
\gamma:γ
\get:←
\infty:∞
\lambda:\lambda
\leftarrow:⇐
\phi:ϕ
\pi:π
\rho:ρ
\rightarrow:⇒
\sigma:σ
\swap:↔
\time:×
\to:→
\update:⟳
\varphi:φ
abb:abbreviation of
ahk2:https://www.autohotkey.com/docs/v2/
anto:antonym of
chtr:chương trình
cl:console.log
cm:; -----------------------------------------------------------------------------------------------------
creg:[\n]?\s*;.*
cv:in to cm
cw:collocation with
dcm:; ----------------------------------------------------------------------------------------------------
dget:document.getElementById();
fcm:; ---------------------------------------------1234567890----------------------------------------------
ha:hình ảnh
hdh:hệ điều hành
hira:hiragana calligraphy
jap:japanese
kata:katakana calligraphy
kj:khác gì
lj:là gì
nlj:nghĩa là gì
nls:nghĩa là sao
ntn:như thế nào
ocmd:% Run('*RunAs pwsh.exe')
pts:photoshop
reg:(?P<>.*)
rep:% (WinActivate('ahk_exe code.exe'), Sleep(300), Send('^p'), Sleep(300), SendText('>Python: Start Terminal RepL'), Sleep(1000), Send('{Enter}'))
su:Sketchup
syno:synonym of
t@:ThaiND.B23KH105@stu.ptit.edu.vn
th:tên tiếng việt của là gì{Left 6}
thaind:ThaiND.B23KH105
ts:tại sao lại nói
tta:trong tiếng Anh
ttn:trong tiếng Nhật
ttt:trong tiếng Trung
ttv:trong tiếng Việt
vh:dịch tên tiếng hàn (theo phong cách Tiểu thuyết võ hiệp, Trung Nguyên)
vscode:Visual Studio Code
vt:document.getElementById();{left 2}