***case_sensitive:0***
***defaultCheckboxState:0***
***hstrOpt:****
/hk:D:\Documents\AutoHotkey\configs\hotkeys.json
/km:D:\Documents\AutoHotkey\src\v2\#KeyModifier.ahk
/ntfm1:\large \mathcal { \color{tomato} \fcolorbox{tomato}{white}{~} }
/ntfm2:\large \mathcal { \fbox {~} }
<a>:<a href=""></a>{Left 6}
<article>:<article></article>{Left 10}
<aside>:<aside></aside>{Left 8}
<audio>:<audio src=""></audio>{Left 10}
<b>:<b></b>{Left 4}
<blockquote>:<blockquote></blockquote>{Left 13}
<button>:<button></button>{Left 9}
<canvas>:<canvas></canvas>{Left 9}
<code>:<code></code>{Left 7}
<details>:<details></details>{Left 10}
<div>:<div></div>{Left 6}
<em>:<em></em>{Left 5}
<fieldset>:<fieldset>{Enter}{Backspace}</fieldset>{Up}{End}{Enter}
<figcaption>:<figcaption></figcaption>{Left 13}
<figure>:<figure>{Enter}<figcaption></figcaption>{Enter}{Backspace}</figure>{Up}{End}{Left 13}
<footer>:<footer></footer>{Left 9}
<form>:<form action=""></form>{Left 9}
<h1>:<h1></h1>{Left 5}
<h2>:<h2></h2>{Left 5}
<h3>:<h3></h3>{Left 5}
<h4>:<h4></h4>{Left 5}
<h5>:<h5></h5>{Left 5}
<h6>:<h6></h6>{Left 5}
<header>:<header></header>{Left 9}
<iframe>:<iframe src=""></iframe>{Left 11}
<img>:<img src="" alt="">{Left 9}
<input>:<input type="text">{Left 1}
<label>:<label for=""></label>{Left 10}
<legend>:<legend></legend>{Left 9}
<li>:<li></li>{Left 5}
<main>:<main></main>{Left 7}
<nav>:<nav></nav>{Left 6}
<ol>:<ol></ol>{Left 5}
<option>:<option value=""></option>{Left 11}
<p>:<p></p>{Left 4}
<pre>:<pre></pre>{Left 6}
<script>:<script></script>{Left 9}
<section>:<section>{Enter}{Backspace}</section>{Up}{End}{Enter}
<select>:<select></select>{Left 9}
<span>:<span></span>{Left 7}
<strong>:<strong></strong>{Left 9}
<style>:<style></style>{Left 8}
<summary>:<summary></summary>{Left 10}
<svg>:<svg></svg>{Left 6}
<table>:<table></table>{Left 8}
<td>:<td></td>{Left 5}
<textarea>:<textarea></textarea>{Left 11}
<tr>:<tr></tr>{Left 5}
<ul>:<ul></ul>{Left 5}
<video>:<video src=""></video>{Left 10}
@ahk2:https://www.autohotkey.com/docs/v2/
@gpt:chatgpt.com
@tt:tactics.tools/vie
@yt:youtube.com
\alpha:α
\beta:β
\bowtie:⋈
\cap:∩
\cup:∪
\delta:δ
\epsilon:ε
\gamma:γ
\get:←
\infty:∞
\lambda:\lambda
\leftarrow:⇐
\phi:ϕ
\pi:π
\rho:ρ
\rightarrow:⇒
\sigma:σ
\swap:↔
\time:×
\to:→
\update:⟳
\varphi:φ
abb:abbreviation of
ahk2:https://www.autohotkey.com/docs/v2/
anto:antonym of
chtr:chương trình
cm;:; -----------------------------------------------------------------------------------------------------
creg:[\n]?\s*;.*
cw:collocation with
dcm:; ----------------------------------------------------------------------------------------------------
dget:document.getElementById();
fcm:; ---------------------------------------------1234567890----------------------------------------------
hasop:hasOwnProperty(){Left 1}
hdh:hệ điều hành
hira:hiragana calligraphy
jap:japanese
jsify:console.log(JSON.stringify(, null, 2));{Left 12}
jslog:console.log(JSON.stringify());{Left 3}
kata:katakana calligraphy
kj:khác gì
lj:là gì
nlj:nghĩa là gì
nls:nghĩa là sao
ntn:như thế nào
ocmd:% Run('*RunAs pwsh.exe')
pts:photoshopace
syno:synonym of
t@:ThaiND.B23KH105@stu.ptit.edu.vn
thaind:ThaiND.B23KH105
ts:tại sao lại nói
tta:trong tiếng Anh
ttn:trong tiếng Nhật
ttt:trong tiếng Trung
ttv:trong tiếng Việt
uri:obsidian://adv-uri?
vh:dịch tên tiếng hàn (theo phong cách Tiểu thuyết võ hiệp, Trung Nguyên)
vs_repl:% (WinActivate('ahk_exe code.exe'), Sleep(300), Send('^p'), Sleep(300), SendText('>Python: Start Terminal RepL'), Sleep(1000), Send('{Enter}'))
vscode:Visual Studio Code
vt:document.getElementById();{left 2}
clog:console.log();{Left 2}
